html {
    background: url(battle-dev-logo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 5em;
}

#three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.giftom {
    height: 30%;
}

#txt {
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

#hugoo {
    height: 20%;
}